<footer class='site-footer'>
  <div class='site-footer__inner'>
    <nav aria-label='Footer navigation'>
      {%- for link in linklists[section.settings.menu].links -%}
        <a href='{{ link.url }}'>{{ link.title }}</a>
      {%- endfor -%}
    </nav>

    <p>
      &copy; {{ 'now' | date: '%Y' }}
      {{ shop.name }}
      {%- if section.settings.copyright_text != blank -%}
        &nbsp;&mdash;&nbsp;{{ section.settings.copyright_text }}
      {%- endif -%}
    </p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Footer navigation menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text",
      "placeholder": "All rights reserved."
    }
  ]
}
{% endschema %}
